.overlay,
.overlayTwo {
  transition: transform 500ms ease, opacity 500ms ease;
}

.imageContainer:hover .image {
  transform: scale(1.2);
}

.imageContainer:hover .overlay {
  opacity: 1;
  transform: scale(1);
}

.imageContainer:hover .overlayTwo {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.2s;
}

.imageContainer:not(:hover) .overlay,
.imageContainer:not(:hover) .overlayTwo {
  opacity: 0;
  transform: scale(0);
  transition-delay: 0s;
}

.imageContainer:not(:hover) .overlayTwo {
  transition-delay: 0.2s;
}

.textTour:hover::before {
  width: 100%;
  margin: auto;
}
