.textInput .ant-input:focus {
  border-bottom: 1px solid #222 !important;
}

.textInput .ant-input {
  border-bottom: 1px solid #999 !important;
  transition: all 500ms ease-in !important;
}

.textInput .ant-input-prefix {
  position: absolute;
  top: 24px !important;
}

:where(.css-dev-only-do-not-override-cdzvx5).ant-input-affix-wrapper
  > input.ant-input,
:where(.css-dev-only-do-not-override-cdzvx5).ant-input-affix-wrapper
  > textarea.ant-input {
  padding: 12px 2rem;
}

/* تغییر رنگ placeholder در حالت فوکوس */
.textInput .ant-input:focus::placeholder {
  color: #222 !important;
}
