@font-face {
  font-family: "yekan-light";
  src: url("../../../public/fonts/yekan-light.woff") format("woff");
}

.yekan-light {
  font-family: yekan-light;
}

@font-face {
  font-family: "yekan-medium";
  src: url("/fonts/yekan-medium.woff") format("woff");
}

.yekan-medium {
  font-family: yekan-medium;
}

@font-face {
  font-family: "yekan-regular";
  src: url("/fonts/yekan-regular.woff") format("woff");
}

.yekan-regular {
  font-family: yekan-regular;
}
