:where(.css-dev-only-do-not-override-161f05s).ant-input-affix-wrapper
  > input.ant-input,
:where(.css-dev-only-do-not-override-161f05s).ant-input-affix-wrapper
  > textarea.ant-input {
  /* font-size: inherit; */
  /* border: none; */
  /* border-radius: 0; */
  /* outline: none; */
  /* background-image: none; */
  background-color: linear-gradient(90deg, #4300e7 0%, #7d00fc 100%) !important;
  /* background-color: transparent; */
  /* color: inherit; */
}

:where(.css-dev-only-do-not-override-161f05s).ant-input-borderless {
  background-color: linear-gradient(90deg, #4300e7 0%, #7d00fc 100%) !important;
  border: none;
}
